sql
node_modules
vendor
tests

public/*
!public/wp-content
public/wp-content/plugins
public/wp-content/upgrade
public/wp-content/uploads
public/wp-content/index.php

public/wp-content/themes/twentytwentyone
public/wp-content/themes/twentytwentytwo
public/wp-content/themes/twentytwentythree
public/wp-content/themes/index.php

public/wp-content/themes/custom-theme/css
public/wp-content/themes/custom-theme/js
public/wp-content/themes/custom-theme/images

.env
